.calendarWrapper {
  border: rgb(25, 162, 226) 2px solid;
  width: 525px;
  margin: 0 auto;
}

.calendarTitle {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  grid-column: span 7;
  border: rgb(93, 243, 243) 1px solid;
}

.calendar {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
}

.calendarCell {
  border: rgb(120, 179, 206) 1px solid;
  text-align: center;
  padding: 3px;
}

.blankDay {
  border: rgb(124, 178, 192) 1px solid;
  text-align: center;
  padding: 3px;
  background-color: rgb(85, 129, 155);
}

.new {
  text-align: center;
  padding: 5px;
}
